.grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5rem;
  padding: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 2fr 3fr;
    justify-content: center;
    align-items: center;
  }
}

.contenido {
  color: var(--blanco);
  margin-bottom: 4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.enlace {
  margin-top: 2rem;
  border: var(--primary) solid 1.5px;
  padding: 1rem 5rem;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--primary);
  transition-property: background-color;
  transition-duration: .3s;
}

@media (min-width: 768px) {
  .enlace {
    width: 70%;
    margin: 2rem auto 0 auto;
  }
}

.enlace:hover {
  background-color: var(--primary);
  color: var(--blanco);
}

.heading_home {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 0;
}